<%= form_for(@cash_flow) do |f| %>
  <% if @cash_flow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cash_flow.errors.count, "error") %> prohibited this cash_flow from being saved:</h2>

      <ul>
      <% @cash_flow.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% end %>
<% form_for(@income) do |f| %>
<div class="md-padding" layout="row">
<%#= f.fields_for :incomes do |income| %>
<div flex="30"><md-input-container >
  <%= f.label :rent %>
  <%= f.text_field :rent %>
</md-input-container></div>

<div flex="30"><md-input-container >
  <%= f.label :garage_rent %>
  <%= f.text_field :garage_rent %>
</md-input-container></div>

<div flex="30"><md-input-container >
  <%= f.label :laundry_income %>
    <%= f.text_field :laundry_income %>
</md-input-container></div>
</div>
<div class="md-padding" layout="row">
<div flex="30"><md-input-container >
  <%= f.label :late_fee %>
  <%= f.text_field :late_fee %>
</md-input-container></div>

<%# end %>

</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
