<!DOCTYPE html>
<html>
<head>
  <title>AppartmentManagement</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div class="every"><%= yield %></div>
  </div>
  <%= javascript_include_tag 'application' %>
  <div ng>
  <%= yield(:javascripts) %>

</body>
</html>
